@import "./button.css";
@import "./button-icon.css";
@import "./header.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./comment.css";
@import "./about.css";
@import "./legends.css";
@import "./social.css";
@import "./footer.css";
@import "./form.css";
@import "./title.css";
@font-face {
  font-family: 'Metrosant';
  src: url('./../Metrosant-Regular.ttf') format('ttf');
}


:root {
  --fontBase: "Metrosant", sans-serif;
  --headline1: bold 95px / 153.71px var(--fontBase);
  --headline2: bold 59px / 95px var(--fontBase);
  --headline3: bold 48px / 77px var(--fontBase);
  --headline4: bold 34px / 55px var(--fontBase);
  --headline5: bold 24px / 38px var(--fontBase);
  --body1: 16px / 25px var(--fontBase);
  --body2: 14px / 22px var(--fontBase);
  --button: bold 14px / 22px var(--fontBase);
  --caption: 12px / 19px var(--fontBase);
  --gradient: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
  --yellow: #DFB507;
  --red: #CD0613;
  --green: #3A9435;
  --white: white;
}
body {
  background: var(--gradient);
  backdrop-filter: blur(7px);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--white);
  margin: 0px;
}
